@model PartyInviteForm.Models.ParticipantListModel

@{
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        p span {
            margin-right: 5px;
        }

        p {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    @{var content = "";
        var participants = Model.GetParticipants();
        var empty = participants.Count < 1 ? "Участников пока нет" : "";
        for (var i = 0; i < participants.Count; i++)
        {
            var item = participants[i];
            content += $"<p>{i + 1}) ";
            content += $"<span>имя: {item.Name}</span>";
            content += $"<span>номер телефона: {item.PhoneNumber}</span>";
            content += $"<span>email: {item.Email}</span>";
            content += $"<span>придёт ли:  {item.Attention}</span>";
            content += "</p>";

        }
    }


    <h1>Участники</h1>
    <div>
        <table>
            @empty
            @Html.Raw(content)
        </table>
    </div>
    @Html.ActionLink("На главную", "../Home/Index")
</body>
</html>