@model PartyInviteForm.Models.ParticipantModel

@{
    ViewBag.Title = "Result";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>Спасибо, @Model.Name!</h1>
        <div>
            @if (Model.Attention == true)
            {
                @:Рады, что вы придете
            }
            else
            {
                @:Жаль что вы не придете
            }
        </div>
        <div style="display: flex; justify-content: center;">
            @Html.ActionLink("На главную", "../Home/Index")
        </div>
    </div>
</body>
</html>